.topnav-right {
    float: right;
  }
.header-right {
    float: right !important;
  }
.right{
    position: absolute !important;
    top: 8px !important;
    right: 16px !important;
    font-size: 18px !important; 
    }
.buttons {
    background: #f8f9fa;
    color: black!important;
    float: right;
    border: none;
  }
