<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">WPD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <button routerLink="/home-page" class="btn btn-primary buttons">Home</button>
        <button *ngIf="isHomePage === true" (click)="addCoursework()" class="btn btn-primary buttons">Add Coursework</button>
        <button *ngIf="isHomePage === true" (click)="viewAll()" class="btn btn-primary buttons">View All Coursework</button>
        <button *ngIf="isHomePage === true" (click)="viewIncomplete()" class="btn btn-primary buttons">View Incomplete Coursework</button>
        <button *ngIf="isCourseworkPage === true" (click)="share()" class="btn btn-primary buttons">Share Coursework</button>
        <button *ngIf="isCourseworkPage === true" (click)="addMilestone()" class="btn btn-primary buttons">Add Milestone</button>
        <div class="right">
          <td> <button class="btn btn-primary buttons" (click)="logout()">Logout</button></td>
        </div>
      </ul>
  
    </div>
  </nav>
  
