#loginBox {
    background: #C2EFEB;
    opacity: 0.9;
    border-radius: 10px;
    font-family: Vollkorn;
    margin-top: 10%
}
#loginButton {
    background: #6EA4BF;
    border-radius: 5px;
    margin-bottom: 5%;
    font-family: Vollkorn;
    color: black;
    width: 20%;
}
.textStyle {
    font-family: Vollkorn;
    color: black;
}
.inputFields {
    background: #ECFEE8;
    border-radius: 5px;
    border: #ECFEE8;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
}
.container-fluid {
    background-image: url('../../../assets/images/WebDev.png');
    background-size: cover;
    height: 100vh;
}