<div class="container-fluid">

    <div class="row">
        <div class="col">
          </div>
      <div id="loginBox" class="col text-center">
        <h1 class="textStyle">Register</h1>
        <p>
            <a class="textStyle" routerLink="/login"> Already a member? Please log in instead.</a>
        </p>
        <form (submit)="register()">
          <div class="form-group">
            <label class="textStyle" for="firstname">Username</label>
            <input type="firstname" class="form-control textStyle" name="username" placeholder="Enter your username" [(ngModel)]="credentials.username">
          </div>
          <div class="form-group">
            <label class="textStyle" for="surname">Password</label>
            <input type="password" class="form-control textStyle" name="password" placeholder="Enter your password" [(ngModel)]="credentials.password">
          </div>
          <button id="loginButton" type="submit" class="btn btn-default">Register!</button>
        </form>
      </div>
      <div class="col">
        </div>
    </div>
  
  </div>
  