<div class="container-fluid">
    <br>
    <br>
    <div class="row">
      <div class="col">
      </div>
      <div id="loginBox" class="col text-center">
          <img id="userIcon" src="../../../assets/images/Vector.png" alt="User icon">
          <form (submit)="login()">
            <div class="form-group">
                <input type="username" class="form-control inputFields" name="username" placeholder="Username" [(ngModel)]="credentials.username">
                <input type="password" class="form-control inputFields" name="password" placeholder="Password" [(ngModel)]="credentials.password">
            </div>
            <button id="loginButton" type="submit" class="btn">Login</button>

          </form>
          <p>
            <a id="signupText" routerLink="/register">Not got an account? Sign up here</a>
          </p>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  

<!-- 
  <form ">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control"  placeholder="Password" >
    </div>
    <button type="submit" class="btn btn-default">Sign in!</button>
  </form> -->
