<app-nav-bar [isCourseworkPage]=true (addMilestonePop)="open(addMilestone)" (shareLinkPopup)="open(content)"></app-nav-bar>
<div class="container-fluid">
    <br>
    <br>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8" id="courseworkModal" *ngIf="coursework">
            <h3 class="textStyle" id="courseworkTitle">Title: {{coursework.title}}</h3>
            <h3 class="textStyle">Module: {{coursework.module}}</h3>
            <h3 class="textStyle">Milestones:</h3>
            <div> 
              <h3 class="textStyle" id="dueDateHeading">Due Date: {{coursework.dueDate | date: dateFormat}}</h3><input id="dateInput" type="date" [(ngModel)]="coursework.dueDate"> 
            </div>
            <div> 
              <h3 class="textStyle" id="completionDateHeading">Actual Completion Date: {{coursework.actualCompletionDate | date: dateFormat}}</h3><input id="dateInput" type="date" [(ngModel)]="coursework.actualCompletionDate"> 
            </div>
            <div>
                <div class="row">
                    <div class="col">
                    </div>     
                    <div class="col">
                        <table class="table">
                            <tr>
                                <th class="textStyle">Milestone</th>
                                <th class="textStyle">Target Date</th>
                                <th class="textStyle">Description</th>
                                <th class="textStyle">Complete</th> 
                            </tr>
                            
                            <tr *ngFor="let milestone of milestones; let i = index;">
                                <td class="textStyle">{{milestone.name}}</td>
                                <td class="textStyle">{{milestone.targetDate | date: dateFormat}}</td>
                                <td class="textStyle">{{milestone.description}}</td>
                                <td class="textStyle">
                                    <select (change)="changeMilestoneStatus($event.target.value, i)">
                                        <option value="0">{{milestone.complete}}</option>
                                        <option *ngFor="let status of listOfStatuses" value={{status}}>
                                          {{status}}
                                        </option>
                                      </select>
                                </td>
                                <button id="deleteCourseworkButton" (click)="deleteMilestoneById(milestone._id)"><img src="../../../assets/images/Vectordelete.png" alt="Delete icon"></button>
                            </tr>
 
                        </table>
                    </div>     
                    <div class="col">
                    </div>
                </div>
            </div>

            <button id="editCourseworkButton" class="btn btn-primary" (click)="updateCoursework()">Update Coursework</button>
          </div>
        <div class="col">
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Share Coursework</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="dateOfBirth">Your Coursework URL: </label>
              <p id="courseworkURL">{{courseworkURL}}</p>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="copyCourseworkURL()">Copy</button>
        </div>
      </ng-template>

      <ng-template #addMilestone let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Add Milestone</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="milestoneName">Milestone Name:</label>
              <input type="text" class="form-control" id="milestoneName" [(ngModel)]="milestoneForm.milestoneName" name="milestoneName">
            </div>
            <div class="form-group">
              <label for="milestoneDescription">Milestone Description:</label>
              <input type="text" class="form-control" id="milestoneDescription" [(ngModel)]="milestoneForm.milestoneDescription" name="milestoneDescription">
            </div>
            <div class="form-group">
              <label for="milestoneDate">Milestone Date:</label>
              <input type="date" class="form-control" id="milestoneDate " [(ngModel)]="milestoneForm.milestoneDate" name="milestoneDate">
            </div>

            <div class="form-group">
              <label for="milestoneCompleted">Milestone Status: </label>
              <select multiple class="form-control" id="milestoneCompleted" [(ngModel)]="milestoneForm.milestoneCompleted" name="milestoneCompleted">
                <option>IN PROGRESS</option>
                <option>COMPLETE</option>
                <option>NOT STARTED</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="createMilestone(); modal.close('Save click');">Submit</button>
        </div>
      </ng-template>
</div>

