#courseworkModal {
    padding-left: 5%;
    background: #C2EFEB;
    opacity: 0.9;
}

#shareImage {
    padding-left: 7%;
}

#completionDateHeading {
    display: inline-block;
    padding-right: 2%;
}
#tableStyle {
    background: #C2EFEB;
    opacity: 0.9;
}
.textStyle {
    font-family: Vollkorn;
    color: black;
}
thead, tbody, td, table, tr {
    outline: thin solid #C2EFEB;
}
#shareButton {
    margin-left: 2%;
    background: #6EA4BF;
    border-radius: 5px;
    color: black;
    border: none;
    font-family: Vollkorn;
}
#addMilestoneButton {
    background: #6EA4BF;
    border-radius: 5px;
    font-family: Vollkorn;
    color: black;
    border: none;
}
#homeButton {
    background: #6EA4BF;
    border-radius: 5px;
    font-family: Vollkorn;
    color: black;
    border: none;
}
#editCourseworkButton {
    background: #6EA4BF;
    border-radius: 5px;
    font-family: Vollkorn;
    color: black;
    border: none;
    margin-bottom: 5%; 
}
#deleteCourseworkButton {
    background: #6EA4BF;
    border-radius: 5px;
    color: black;
    border: none;
}

#dueDateHeading {
    display: inline-block;
    padding-right: 2%;
}

#courseworkTitle {
    margin-top: 5%; 
}