.textStyle {
    font-family: Vollkorn;
    color: black;
}
#tableStyle {
    background: #C2EFEB;
    opacity: 0.9;
    padding-top:2%; 
}
.modalBackground {
    background: #C2EFEB;
    opacity: 0.9;
}
#logoutButton {
    background: #6EA4BF;
    border-radius: 5px;
    font-family: Vollkorn;
    color: black;
    float: right;
    border: none;
}

#viewAll {
    background: #6EA4BF;
    border-radius: 5px;
    font-family: Vollkorn;
    color: black;
    float: left;
    border: none; 
    margin-left:1%;
}

#viewIncomplete {
    background: #6EA4BF;
    border-radius: 5px;
    font-family: Vollkorn;
    color: black;
    float: left;
    border: none; 
}

#addCourseworkPopupButton {
    background: #6EA4BF;
    border-radius: 5px;
    font-family: Vollkorn;
    color: black;
    float: right;
    border: none;
    margin-right: 1%;
}
#viewCourseworkButton {
    background: #6EA4BF;
    border-radius: 5px;
    font-family: Vollkorn;
    color: black;
    margin-right: 1%;
    border: none;
}
#addCourseworkButton {
    background: #6EA4BF;
    border-radius: 5px;
    font-family: Vollkorn;
    color: black;
    border: none;
}
#deleteCourseworkButton {
    background: #6EA4BF;
    border-radius: 5px;
    color: black;
    border: none;
}
.inputFields {
    background: #ECFEE8;
    border-radius: 5px;
    border: #ECFEE8;
    text-align: center;
}  
thead, tbody, td {
    outline: thin solid #C2EFEB;
}

.btn {
 margin-bottom: 1%;
}