<app-nav-bar [isHomePage]=true (addCourseworkPopup)="open(content)" (viewIncompleteCoursework)="listIncomplete()" (viewAllCourework)="viewAll()"></app-nav-bar>
<div class="container-fluid">
    <br>
    <br>
    <div class="row">
      <div class="col">

      </div>
      <div class="col-8 text-center">
        <h1 class="textStyle">{{username}}'s Courseworks</h1>
        <table id="tableStyle" class="table table-hover">
          <thead>
            <tr>
              <th class="textStyle" scope="col">Title</th>
              <th class="textStyle" scope="col">Due Date</th>
              <th class="textStyle" scope="col">Actual Completion Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coursework of allCourseworks">
              <td class="textStyle" >{{coursework.title}}</td>
              <td class="textStyle">{{coursework.dueDate | date: dateFormat}}</td>
              <td class="textStyle">{{coursework.actualCompletionDate | date: dateFormat}}</td>
              <button id="viewCourseworkButton" class="btn btn-primary" (click)="viewCoursework(coursework._id)">View Coursework</button>
              <button id="deleteCourseworkButton" (click)="deleteCourseworkById(coursework._id)"><img src="../../../assets/images/Vectordelete.png" alt="Delete icon"></button>
            </tr>
          </tbody>
        </table> 
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
      <div class="modal-header modalBackground">
        <h4 class="modal-title" id="modal-basic-title">Add Coursework</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modalBackground">
        <form>
          <div class="form-group">
            <label class="textStyle" for="courseworkDueDate">Coursework Due Date</label>
            <div class="input-group">
              <input class="form-control inputFields textStyle"  name="courseworkDueDate" type="date" [(ngModel)]="newCoursework.dueDate">
            </div>
          </div>
          <!-- <div class="form-group">
              <label class="textStyle" for="actualCompletionDate">Actual Completion Date</label>
              <div class="input-group">
                <input class="form-control inputFields textStyle" name="actualCompletionDate" type="date" [(ngModel)]="newCoursework.actualCompletionDate">
              </div>
            </div> -->
            <div class="form-group">
                <label class="textStyle" for="title">Title</label>
                <div class="input-group">
                  <input class="inputFields textStyle" type="text" name="title" [(ngModel)]="newCoursework.title">
                </div>
              </div>
              <div class="form-group">
                  <label class="textStyle" for="module">Module</label>
                  <div class="input-group">
                    <input class="inputFields textStyle" type="text" name="module" [(ngModel)]="newCoursework.module">
                  </div>
                </div>
        </form>
      </div>
      <div class="modal-footer modalBackground">
        <button id="addCourseworkButton" type="button" class="btn btn-outline-dark" (click)="addCoursework(newCoursework); modal.close('Save click');">Add Coursework</button>
      </div>
    </ng-template>
